body {
    margin: 50px;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: blue;
    position: relative;

    animation: moverBotao 3s infinite alternate;
}

@keyframes moverBotao {
    0% {
        left: 0;
        background-color: rgb(255, 0, 0);
    }

    50% {
        background-color: orange;
    }

    100% {
        left: 300px;
        background-color: rgb(250, 234, 6);
    }
}